.button {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: @light-grey;
  font-family: @font;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  border: none;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &[disabled] {
    background-color: #e5e5e5;
  }
}
