.city-advantages {
  .list-reset();

  padding-top: 21px;
  padding-bottom: 25px;
  color: @grey;
  background-color: @white;
}

.city-advantages__title,
.city-advantages__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.city-advantages__item {
  width: 320px;
  position: relative;
  padding-top: 5px;
  padding-right: 39px;
  padding-bottom: 0;
  padding-left: 70px;
}

.city-advantages__item::before {
  position: absolute;
  content: "";
  z-index: 2;

  top: 6px;
  left: 22px;
  background-size: cover;
}

.city-advantages__item--home::before {
  width: 37px;
  height: 36px;

  background: url("../img/icon-house.svg") no-repeat top center;
  background-size: contain;
}

.city-advantages__item--souvenir::before {
  top: 3px;
  left: 25px;
  width: 32px;
  height: 38px;

  background: url("../img/icon-gift.svg") no-repeat top center;
  background-size: contain;
}

.city-advantages__item--food::before {
  top: 9px;
  left: 18px;
  width: 40px;
  height: 35px;

  background: url("../img/icon-burger.svg") no-repeat top center;
  background-size: contain;
}

.city-advantages__title {
  padding-top: 9px;
  padding-bottom: 7px;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @black;
  text-align: left;
}

.city-advantages__text {
  padding-top: 6px;
  padding-bottom: 14px;
  text-align: left;
}

.city-advantages__text--food {
  padding-top: 8px;
}

@media (min-width: @tablet-width) {
  .city-advantages {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .city-advantages__item {
    width: 256px;
    min-height: 330px;
    padding-top: 149px;
    padding-right: 47px;
    padding-left: 50px;
  }

  .city-advantages__item--food {
    order: 2;
  }

  .city-advantages__item--souvenir {
    order: 3;
    padding-left: 43px;
  }

  .city-advantages__item::before {
    top: 60px;
    left: 90px;
    background-position: 50% 50%;
  }

  .city-advantages__item--home::before {
    width: 75px;
    height: 72px;
  }

  .city-advantages__item--food::before {
    width: 77px;
    height: 68px;
    top: 63px;
  }

  .city-advantages__item--souvenir::before {
    width: 64px;
    height: 75px;
    top: 58px;
    left: 95px;
  }

  .city-advantages__title {
    padding-top: 10px;
    padding-bottom: 15px;

    font-size: 21px;
    text-align: center;
  }

  .city-advantages__text {
    text-align: center;
  }

  .city-advantages__text--food {
    width: 156px;
  }
}

@media (min-width: @desktop-width) {
  .city-advantages__item {
    width: 400px;
    padding-left: 0;
    padding-right: 0;
  }

  .city-advantages__text {
    margin: 0 auto;
  }

  .city-advantages__text--home {
    width: 254px;
  }

  .city-advantages__text--food {
    width: 285px;
  }

  .city-advantages__text--souvenir {
    width: 232px;
  }

  .city-advantages__item::before {
    top: 60px;
    left: 161px;
    background-position: 50% 50%;
  }

  .city-advantages__item--souvenir::before {
    top: 57px;
    left: 167px;
  }

  .city-advantages__new-line {
    display: block;
  }
}
