.city-advantages {
  .list-reset();

  padding-top: 21px;
  padding-bottom: 21px;
  color: @grey;
  background-color: @white;
}

.city-advantages__title,
.city-advantages__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

.city-advantages__item {
  padding: 0;
  margin: 0;
  width: 320px;
  position: relative;
  padding-top: 5px;
  padding-right: 41px;
  padding-bottom: 0;
  padding-left: 70px;
}

.city-advantages__item::before {
  position: absolute;
  content: "";
  z-index: 2;

  top: 6px;
  left: 22px;
  background-size: cover;
}

.city-advantages__item--home::before {
  width: 37px;
  height: 36px;

  background: url("../img/icon-house.svg") no-repeat top center;
  background-size: contain;
}

.city-advantages__item--souvenir::before {
  top: 3px;
  left: 25px;
  width: 32px;
  height: 38px;

  background: url("../img/icon-gift.svg") no-repeat top center;
  background-size: contain;
}

.city-advantages__item--food::before {
  top: 9px;
  left: 18px;
  width: 40px;
  height: 35px;

  background: url("../img/icon-burger.svg") no-repeat top center;
  background-size: contain;
}

.city-advantages__title {
  padding-top: 10px;
  padding-bottom: 13px;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @black;
  text-align: left;
}

.city-advantages__text {
  padding-bottom: 15px;
  text-align: left;
}


@media (min-width: @tablet-width) {
  .city-advantages {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .city-advantages__item {
    width: 256px;
    min-height: 330px;
    padding-top: 164px;
  }

  .city-advantages__item--food {
    order: 2;
  }

  .city-advantages__item--souvenir {
    order: 3;
  }

  .city-advantages__item::before {
    top: 60px;
    left: 106px;
    background-position: 50% 50%;
  }

  .city-advantages__item--home::before {
    width: 75px;
    height: 72px;
  }

  .city-advantages__item--food::before {
    width: 77px;
    height: 68px;
  }

  .city-advantages__item--souvenir::before {
    width: 64px;
    height: 75px;
  }

  .city-advantages__item--home p {
    width: 156px;
  }

  .city-advantages__item--food p {
    width: 151px;
  }

  .city-advantages__item--souvenir p {
    width: 164px;
  }
}

@media (min-width: @desktop-width) {
  .city-advantages__item {
    width: 400px;
    padding-left: 0;
    padding-right: 0;
  }

  .city-advantages__item p {
    margin: 0 auto;
  }

  .city-advantages__item--home p {
    width: 252px;
  }

  .city-advantages__item--food p {
    width: 283px;
  }

  .city-advantages__item--souvenir p {
    width: 214px;
  }

  .city-advantages__item::before {
    top: 60px;
    left: 161px;
    background-position: 50% 50%;
  }
}
