.copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 130px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 35px;
}

.copyright__text {
  padding: 0;
  margin: 0;
  max-width: 95px;
  color: @black;
  text-align: left;
  line-height: 26px;
}

.copyright__link {
  margin: 0;
  padding: 0;
}

.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: #81b3d2;
}

.copyright__link:active svg {
  fill: @black;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin: 0;
    padding: 0;
    padding-top: 8px;
  }
}
