.features {
  margin-bottom: 19px;
}

.features__title {
  padding: 0;
  position: relative;
  padding-top: 9px;
  padding-bottom: 5px;
  width: 255px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
}

@media (min-width: @tablet-width) {
  .features {
    margin-bottom: 57px;
  }

  .features__title {
    width: 490px;
    line-height: 1.86;
  }
}
