.form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.form__fieldset-wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.form__fieldset {
  position: relative;
  padding: 0;

  width: 280px;
  border: none;
  margin: 0 auto;
}

.form__fieldset--more-detail {
  min-height: 231px;
}

.form__list {
  .list-reset();
  padding-bottom: 21px;
}

.form__list-item {
  padding-bottom: 2px;
}

.form__legend {
  padding: 0;
  padding-top: 24px;
  padding-bottom: 22px;
  max-width: 260px;
  margin: 0 auto;

  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: @black;
}

.form__legend--impression {
  padding-bottom: 36px;
}

.form__legend--landmark {
  padding-bottom: 31px;
}

.form__legend--contacts {
  padding-bottom: 10px;
}

.form__legend--more-detail {
  padding-top: 22px;
  padding-bottom: 18px;
}

.form__label {
  position: relative;
  width: 280px;
  text-align: left;
  line-height: 26px;
}

.form__label--user-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form__label--contacts {
  display: block;
  padding: 10px;
  padding-bottom: 7px;
  padding-left: 20px;
}

.form__input {
  width: 230px;
  height: 58px;

  border: none;
}

.form__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: @black;
}

.form__input::-moz-placeholder { /* Firefox 19+ */
  color: @black;
}

.form__input:-ms-input-placeholder { /* IE 10+ */
  color: @black;
}

.form__input:-moz-placeholder { /* Firefox 18- */
  color: @black;
}

.form__input[placeholder] {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 10px;

  font-family: @font;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: @black;
  background-color: #f2f2f2;
  border: solid 4px #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border: solid 4px #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: @white;
    border: solid 4px #e5e5e5;
  }
}

.form__input--short {
  width: 192px;
}

.form__input--phone,
.form__input--email {
  position: relative;
  width: 280px;
}

.form__input--phone[placeholder],
.form__input--email[placeholder] {
  padding-right: 58px;
}

.form__input-wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    z-index: 2;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;

    background: url("../img/icon-phone.svg") no-repeat center center;
    background-size: 18px 18px;
    background-color: #e6e6e6;
  }
}

.form__input-wrapper--email::before {
  background: url("../img/icon-mail.svg") no-repeat center center;
  background-size: 16px 12px;
  background-color: #e6e6e6;
}

.form__label--impression,
.form__label--landmark {
  display: inline-block;
  padding-left: 78px;
  padding-bottom: 41px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: @black;
}

.form__label--landmark {
  padding-bottom: 52px;
}

.form__label--last {
  padding-bottom: 15px;
}

.form__input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -13px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form__input[type="radio"]:hover + label::before,
.form__input[type="checkbox"]:hover + label::before {
  background-color: #e5e5e5;
}

.form__input[type="radio"]:active + label::before,
.form__input[type="radio"]:focus + label::before,
.form__input[type="checkbox"]:active + label::before,
.form__input[type="checkbox"]:focus + label::before {
  background-color: #d5d5d5;
}

.form__input[type="radio"]:enabled:checked + label::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 3px;
  width: 22px;
  height: 22px;

  background-color: #333333;
  border-radius: 50%;
}

.form__input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -13px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form__input[type="checkbox"]:enabled:checked + label::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 6px;
  width: 24px;
  height: 16px;

  background: url("../img/icon-tick.svg") no-repeat center center;
  background-size: 24px 16px;
}

.form__input--textarea {
  width: 280px;
  min-height: 160px;
  resize: none;
}

.form__input--textarea[placeholder] {
  padding-right: 5px;
}

.form__button {
  width: 280px;
  margin-top: 46px;
  margin-bottom: 43px;
}

.form__small {
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    width: 648px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .form__fieldset--impression,
  .form__fieldset--user-name {
    width: 324px;
  }

  .form__fieldset-wrapper--impression {
    order: -1;

    &::before {
      top: 26px;
      left: 324px;
      height: 292px;
      width: 1px;
    }
  }

  .form__legend {
    margin-left: 0;
    max-width: 282px;
    padding-bottom: 60px;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
  }

  .form__legend--user-name {
    padding-bottom: 57px;
    padding-left: 58px;
  }

  .form__legend--impression {
    padding-bottom: 73px;
  }

  .form__legend--contacts,
  .form__legend--landmark,
  .form__legend--more-detail {
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 14px;
    text-align: center;
  }

  .form__legend--landmark {
    padding-top: 30px;
    padding-bottom: 55px;
  }

  .form__legend--more-detail {
    padding-bottom: 57px;
  }

  .form__label--user-name {
    width: 267px;
    margin-left: auto;
  }

  .form__label--impression {
    padding-left: 54px;
    padding-bottom: 51px;
  }

  .form__label--contacts {
    padding-left: 21px;
  }

  .form__fieldset-wrapper--user-name::before {
    height: 0;
  }

  .form__fieldset--contacts {
    width: 648px;
  }

  .form__fieldset--more-detail {
    width: 648px;
    min-height: 259px;
  }

  .form__fieldset-wrapper--contacts::before,
  .form__fieldset-wrapper--landmark::before,
  .form__fieldset-wrapper--more-detail::before {
    left: 0;
    top: 23px;
    width: 125px;
  }

  .form__fieldset-wrapper--contacts::after,
  .form__fieldset-wrapper--landmark::after,
  .form__fieldset-wrapper--more-detail::after {
    position: absolute;
    content: "";
    top: 23px;
    right: 0;
    width: 125px;
    height: 1px;
    background-color: #e5e5e5;
  }

  .form__fieldset-wrapper--landmark {
    &::before,
    &::after {
      top: 55px;
    }
  }

  .form__list--landmark {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 457px;
    margin: 0 auto;
  }

  .form__list-item--phone {
    padding-bottom: 13px;
  }

  .form__input {
    width: 215px;
  }

  .form__input--phone,
  .form__input--email {
    width: 648px;
  }

  .form__input--short {
    width: 179px;
  }

  .form__input[type="radio"] + label::before {
    left: -22px;
    top: -15px;
  }

  .form__input[type="radio"]:enabled:checked + label::after {
    left: -5px;
    top: 2px;
  }

  .form__fieldset--landmark {
    width: 648px;
  }

  .form__list-item--landmark {
    width: 197px;
  }

  .form__label--landmark {
    padding-right: 34px;
    padding-bottom: 61px;
  }

  .form__input--textarea {
    width: 648px;
    height: 160px;
  }

  .form__button {
    width: 324px;
    margin-top: 52px;
    margin-bottom: 67px;
    padding-right: 17px;
  }

  .form__small {
    margin: 0;
    display: inline-block;
    width: 165px;
    margin-top: 71px;
    margin-left: auto;

    font-family: @font;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    color: #333333;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 960px;
  }

  .form__fieldset--impression,
  .form__fieldset--user-name {
    width: 480px;
  }

  .form__fieldset--impression::before {
    left: 480px;
  }

  .form__label--user-name {
    margin-right: 0;
    margin-left: auto;
    width: 400px;
  }

  .form__list-item {
    text-align: left;
  }

  .form__input {
    width: 350px;
  }

  .form__input--short {
    width: 312px;
  }

  .form__input[type="radio"] + label::before {
    left: 5px;
    top: -14px;
  }

  .form__input[type="radio"]:enabled:checked + label::after {
    left: 22px;
    top: 3px;
  }

  .form__fieldset--contacts,
  .form__fieldset--landmark,
  .form__fieldset--more-detail {
    width: 960px;
  }

  .form__fieldset-wrapper--contacts,
  .form__fieldset-wrapper--more-detail {
    &::before,
    &::after {
      width: 280px;
    }
  }

  .form__fieldset-wrapper--landmark {
    &::before,
    &::after {
      top: 44px;
      width: 280px;
    }
  }

  .form__fieldset-wrapper--impression::before {
    top: 30px;
    left: 480px;
  }

  .form__list--contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__list-item--landmark {
    width: 210px;
    margin-right: 49px;
  }

  .form__list-item--landmark-park {
    margin-right: 27px;
  }

  .form__list-item--landmark:last-child {
    width: 200px;
    margin-right: 0;
  }

  .form__list-item--contacts {
    display: flex;
    width: 480px;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__list-item--phone {
    width: 400px;
  }

  .form__label--contacts {
    padding: 0;
  }

  .form__label-none {
    display: none;
  }

  .form__label--impression {
    padding-left: 80px;
    padding-bottom: 50px;
  }

  .form__label--landmark {
    padding-right: 10px;
    padding-bottom: 61px;
    padding-left: 80px;
  }

  .form__legend--impression {
    margin: 0;
    padding-left: 79px;
    padding-bottom: 73px;
    max-width: 374px;
  }

  .form__legend--user-name {
    margin: 0;
    padding-bottom: 58px;
    padding-left: 78px;
  }

  .form__legend--contacts {
    padding-bottom: 75px;
  }

  .form__legend--landmark {
    padding-top: 18px;
    padding-bottom: 56px;
  }

  .form__legend--more-detail {
    padding-top: 9px;
  }

  .form__list--landmark {
    justify-content: flex-start;
    width: 960px;
  }

  .form__input--textarea {
    width: 960px;
  }

  .form__input--email,
  .form__input--phone {
    width: 315px;
  }

  .form__button {
    width: 480px;
    padding-left: 18px;
    margin-bottom: 71px;
  }
}
