.hotels__title {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  color: @black;
}

.hotels__text {
  margin: 0 auto;
  width: 261px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  line-height: 1.71;
}

.hotels__link {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 49px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;

  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;

  color: @white;
  background-color: @light-grey;
}

@media (min-width: @tablet-width) {
  .hotels__title {
    font-size: 30px;
    line-height: 0.87;

    padding-bottom: 50px;
  }

  .hotels__text {
    width: 476px;
    padding-bottom: 47px;
  }

  .hotels__text-new-line {
    display: block;
  }

  .hotels__link {
    width: 458px;
    margin-bottom: 58px;
  }
}
