.list-features {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .list-features {
    display: flex;
    flex-wrap: wrap;
  }

  .list-features__item {
    width: 256px;
  }

  .list-features__item--real-city,
  .list-features__item--devils-bridge {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .list-features__item {
    width: 400px;
  }

  .list-features__item--real-city,
  .list-features__item--devils-bridge {
    width: 1200px;
  }
}
