.list-photos {
  .list-reset();
  padding-left: 20px;
  padding-right: 20px;
}

.list-photos__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: @black;
}

.list-photos__text {
  text-align: left;
}

.list-photos__like {
  padding: 0;
  margin: 0;
}

.list-photos__item {
  padding-bottom: 23px;
}
