.list-features {
  .list-reset();
}

.list-features__title,
.list-features__number,
.list-features__text {
  padding: 0;
  margin: 0;
}

.list-features__item {
  padding: 0;
  margin: 0;
  color: @white;
}

.list-features__wrapper {
  position: relative;
  background-color: @light-grey;
}

.list-features__wrapper--city {
  &::before {
    position: absolute;
    content: "";
    z-index: 2;
    width: 320px;
    height: 37px;

    top: 0;
    left: 0;
    background: url("../img/bg-triangle.svg") no-repeat top center;
  }
}

.list-features__title {
  padding-top: 76px;
  padding-right: 27px;
  padding-bottom: 9px;
  padding-left: 26px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.list-features__title--devils-bridge {
  padding-top: 38px;
}

.list-features__number {
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.list-features__text {
  padding-bottom: 43px;
  padding-left: 23px;
  padding-right: 23px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  vertical-align: baseline;
}

.list-features__text--devils-bridge {
  padding-bottom: 39px;
}

.list-features__city,
.list-features__bridge {
  display: block;
  padding: 0;
  margin: 0;
  width: 320px;
  height: 260px;
}

@media (min-width: @tablet-width) {
  .list-features {
    display: flex;
    flex-wrap: wrap;
  }

  .list-features__item {
    width: 256px;
    padding: 0;
  }

  .list-features__item--real-city,
  .list-features__item--devils-bridge {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }

  .list-features__item--real-city .list-features__text,
  .list-features__item--devils-bridge .list-features__text {
    padding-bottom: 20px;
  }

  .list-features__item--real-city h3,
  .list-features__item--devils-bridge h3 {
    padding-top: 46px;
  }

  .list-features__item--devils-bridge .list-features__wrapper {
    order: 3;
  }

  .list-features__item--devils-bridge .list-features__bridge {
    order: 2;
  }

  .list-features__wrapper {
    width: 256px;
  }

  .list-features__wrapper--city::before {
    display: none;
  }

  .list-features__city,
  .list-features__bridge {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .list-features__item {
    width: 400px;
  }

  .list-features__item--real-city,
  .list-features__item--devils-bridge {
    width: 1200px;
  }

  .list-features__wrapper {
    width: 400px;
  }

  .list-features__city,
  .list-features__bridge {
    width: 800px;
  }
}
