.main-banner__bg {
  height: 389px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat top center;
  background-color: @white;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 320px;
    height: 26px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .main-banner__bg {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}

.main-banner__bg--photo {
  height: 158px;
}

.main-banner__sedona-image {
  width: 281px;
  height: 214px;
}

.main-banner__sedona-image--photo {
  width: 229px;
  height: 39px;
}

.main-banner__text {
  padding-top: 43px;
  padding-right: 32px;
  padding-left: 32px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: @black;
}

@media (min-width: @tablet-width) {
  .main-banner__bg {
    height: 518px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat top center;

    &::before {
      width: 768px;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      border-bottom: 1px solid @white;
    }
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .main-banner__bg {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .main-banner__sedona-image {
    width: 460px;
    height: 350px;
  }

  .main-banner__sedona-image--photo {
    width: 460px;
    height: 80px;
  }

  .main-banner__text {
    padding-top: 51px;
    width: 490px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: bold;
  }
}

@media (min-width: @desktop-width) {
  .main-banner__bg {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat top center;

    &::before {
      width: 1200px;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .main-banner__bg {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }
  }
}
