.main-nav__list {
  .list-reset();
  min-height: 223px;
}

.main-nav__toggle {
  width: 23px;
  height: 22px;

  border: none;
}

.main-nav__list a {
  font-family: @font;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  text-align: center;
  color: @white;
}
