.map__iframe {
  width: 320px;
  border: none;
}

@media (min-width: @tablet-width) {
  .map__iframe {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .map__iframe {
    width: @desktop-width;
  }
}
