.page-main__title {
  margin: 0;
  padding-top: 44px;
  padding-bottom: 30px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: @black;
}

.page-main__text {
  padding-left: 28px;
  padding-right: 22px;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    padding-top: 76px;
    font-size: 30px;
    line-height: 0.87;
  }

  .page-main__text {
    width: 428px;
    margin: 0 auto;
  }
}
