.page-footer p {
  margin: 0;
}

.page-footer__contacts {
  padding-top: 41px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 41px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: @black;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 37px;

    min-height: 120px;
  }

  .page-footer p,
  .page-footer ul {
    padding: 0;
  }

  .page-footer__contacts {
    max-width: 155px;
  }
}
