.social__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  width: 151px;
  padding-bottom: 51px;
  margin: 0 auto;
}

.social__item {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-bottom: 5px;

  background-color: @light-grey;

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;

  &::before {
    position: absolute;
    content: "";
    z-index: 2;

    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus {
    background-color: @grey-hover;
  }

  &:active {
    background-color: @grey-active;

    &::before {
      opacity: 0.3;
    }
  }
}

.social__link--twitter::before {
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-twitter.svg");
}

.social__link--facebook::before {
  width: 9px;
  height: 18px;
  background-image: url("../img/icon-facebook.svg");
}

.social__link--youtube::before {
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-youtube.svg");
}
