@font-face {
  font-family: "PT Sans";
  src: local("☺"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "PT Sans";
  src: local("☺"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (max-width: 767px) {
  .page-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 320px;
    min-height: 56px;
    background-color: #ffffff;
  }
  .page-header__logo-wrapper {
    position: relative;
    height: 56px;
    background-color: #ffffff;
  }
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    display: block;
    width: 102px;
    height: 83px;
    margin-left: -51px;
  }
  .page-header__logo-image {
    width: 102px;
    height: 83px;
  }
}
@media (min-width: 768px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 56px;
    background-color: #ffffff;
  }
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    display: block;
    width: 102px;
    height: 83px;
    margin-left: -51px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    width: 187px;
    height: 96px;
  }
  .page-header__logo-image {
    width: 187px;
    height: 96px;
  }
}
@media (max-width: 767px) {
  .main-nav {
    width: 320px;
  }
  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 23px;
    height: 21px;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  .main-nav__toggle:hover,
  .main-nav__toggle:active {
    background-color: transparent;
  }
  .main-nav--closed .main-nav__toggle::before,
  .main-nav--closed .main-nav__toggle:active::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 23px;
    height: 3px;
    background-color: #81b3d2;
    -webkit-box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
            box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
  }
  .main-nav--opened .main-nav__toggle {
    top: 0;
    left: auto;
    right: 0;
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 29px;
    width: 3px;
    height: 25px;
    background-color: #ffffff;
  }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .main-nav--opened .main-nav__toggle:active::before,
  .main-nav--opened .main-nav__toggle:active::after {
    background-color: #ffffff;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-banner__bg {
  height: 389px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat top center;
  background-color: #ffffff;
}
.main-banner__bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 320px;
  height: 26px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-banner__bg {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}
.main-banner__bg--photo {
  height: 158px;
}
.main-banner__sedona-image {
  width: 281px;
  height: 214px;
}
.main-banner__sedona-image--photo {
  width: 229px;
  height: 39px;
}
.main-banner__text {
  padding-top: 43px;
  padding-right: 32px;
  padding-left: 32px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}
@media (min-width: 768px) {
  .main-banner__bg {
    height: 518px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat top center;
  }
  .main-banner__bg::before {
    width: 768px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    border-bottom: 1px solid #ffffff;
  }
  .main-banner__sedona-image {
    width: 460px;
    height: 350px;
  }
  .main-banner__text {
    padding-top: 51px;
    width: 490px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: bold;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .main-banner__bg {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .main-banner__bg {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat top center;
  }
  .main-banner__bg::before {
    width: 1200px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .main-banner__bg {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: cover;
  }
}
.features {
  margin-bottom: 30px;
}
.features__title {
  position: relative;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 29px;
  width: 255px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}
@media (min-width: 768px) {
  .features {
    margin-bottom: 57px;
  }
  .features__title {
    width: 490px;
    line-height: 1.86;
  }
}
.list-features {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-features p {
  margin: 0;
}
.list-features__item {
  min-height: 211px;
  color: #ffffff;
}
.list-features__wrapper {
  position: relative;
  min-height: 211px;
  background-color: #81b3d2;
}
.list-features__wrapper--city::before {
  position: absolute;
  content: "";
  z-index: 2;
  width: 320px;
  height: 37px;
  top: 0;
  left: 0;
  background: url("../img/bg-triangle.svg") no-repeat top center;
}
.list-features__title {
  margin: 0;
  padding-top: 61px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 27px;
  font-size: 18px;
  line-height: 1.44;
}
.list-features__number {
  padding-bottom: 20px;
  line-height: 1.5;
}
.list-features__text {
  padding-bottom: 45px;
  padding-left: 28px;
  padding-right: 27px;
  line-height: 1.5;
}
.list-features__city,
.list-features__bridge {
  width: 320px;
  height: 260px;
}
@media (min-width: 768px) {
  .list-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list-features__item {
    width: 256px;
    padding: 0;
  }
  .list-features__item--real-city,
  .list-features__item--devils-bridge {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list-features__item--real-city .list-features__text,
  .list-features__item--devils-bridge .list-features__text {
    padding-bottom: 20px;
  }
  .list-features__item--real-city h3,
  .list-features__item--devils-bridge h3 {
    padding-top: 46px;
  }
  .list-features__item--devils-bridge .list-features__wrapper {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .list-features__item--devils-bridge .list-features__bridge {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .list-features__wrapper {
    width: 256px;
  }
  .list-features__wrapper--city::before {
    display: none;
  }
  .list-features__city,
  .list-features__bridge {
    width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .list-features__item {
    width: 400px;
  }
  .list-features__item--real-city,
  .list-features__item--devils-bridge {
    width: 1200px;
  }
  .list-features__wrapper {
    width: 400px;
  }
  .list-features__city,
  .list-features__bridge {
    width: 800px;
  }
}
.city-advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333333;
  background-color: #ffffff;
}
.city-advantages h4,
.city-advantages p {
  margin: 0;
}
.city-advantages__item {
  width: 320px;
  position: relative;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 69px;
  padding-right: 41px;
}
.city-advantages__item::before {
  position: absolute;
  content: "";
  z-index: 2;
  top: 0;
  left: 22px;
  background-size: cover;
}
.city-advantages__item--home::before {
  width: 37px;
  height: 36px;
  background: url("../img/icon-house.svg") no-repeat top center;
  background-size: contain;
}
.city-advantages__item--souvenir::before {
  width: 32px;
  height: 38px;
  background: url("../img/icon-gift.svg") no-repeat top center;
  background-size: contain;
}
.city-advantages__item--food::before {
  width: 40px;
  height: 35px;
  background: url("../img/icon-burger.svg") no-repeat top center;
  background-size: contain;
}
.city-advantages__title {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}
.city-advantages__text {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .city-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .city-advantages__item {
    width: 256px;
    min-height: 330px;
    padding-top: 164px;
  }
  .city-advantages__item--food {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .city-advantages__item--souvenir {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .city-advantages__item::before {
    top: 0;
    left: 0;
    background-position: 50% 50%;
    -webkit-transform: translate(136%, 83%);
            transform: translate(136%, 83%);
  }
  .city-advantages__item--home::before {
    width: 75px;
    height: 72px;
  }
  .city-advantages__item--food::before {
    width: 77px;
    height: 68px;
  }
  .city-advantages__item--souvenir::before {
    width: 64px;
    height: 75px;
  }
  .city-advantages__item--home p {
    width: 156px;
  }
  .city-advantages__item--food p {
    width: 151px;
  }
  .city-advantages__item--souvenir p {
    width: 164px;
  }
}
@media (min-width: 1200px) {
  .city-advantages__item {
    width: 400px;
    padding-left: 0;
    padding-right: 0;
  }
  .city-advantages__item p {
    margin: 0 auto;
  }
  .city-advantages__item--home p {
    width: 252px;
  }
  .city-advantages__item--food p {
    width: 283px;
  }
  .city-advantages__item--souvenir p {
    width: 214px;
  }
  .city-advantages__item::before {
    top: 0;
    left: 60px;
    background-position: 50% 50%;
    -webkit-transform: translate(136%, 83%);
            transform: translate(136%, 83%);
  }
}
.last-advantage {
  background-color: #eeeeee;
  position: relative;
}
.last-advantage:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #000000;
  z-index: 1;
  opacity: 0.1;
  bottom: 0;
  left: 20px;
}
.last-advantage h3 {
  color: #000000;
}
.last-advantage__title {
  padding-top: 50px;
  padding-bottom: 15px;
}
.last-advantage__number {
  padding-bottom: 20px;
}
.last-advantage__text {
  padding-bottom: 20px;
}
.last-advantage p {
  color: #333333;
}
.last-advantage p,
.last-advantage h3 {
  margin: 0;
}
@media (min-width: 768px) {
  .last-advantage {
    min-height: 256px;
  }
  .last-advantage p {
    color: #333333;
    width: 231px;
    margin: 0 auto;
  }
  .last-advantage__title {
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .last-advantage__number {
    padding-bottom: 20px;
  }
  .last-advantage__text {
    padding-bottom: 20px;
  }
  .last-advantage .last-advantage__text--road {
    width: 132px;
  }
}
@media (min-width: 1200px) {
  .last-advantage p {
    width: 285px;
  }
  .last-advantage .last-advantage__text--road {
    width: 262px;
  }
}
.page-footer p {
  margin: 0;
}
.page-footer__contacts {
  padding-top: 41px;
  padding-bottom: 41px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}
@media (min-width: 768px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 120px;
  }
  .page-footer p,
  .page-footer ul {
    padding: 0;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 151px;
  padding-bottom: 51px;
  margin: 0 auto;
}
.social__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.social__link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
}
.social__link::before {
  position: absolute;
  content: "";
  z-index: 2;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link:active::before {
  opacity: 0.3;
}
.social__link--twitter::before {
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-twitter.svg");
}
.social__link--facebook::before {
  width: 9px;
  height: 18px;
  background-image: url("../img/icon-facebook.svg");
}
.social__link--youtube::before {
  width: 18px;
  height: 14px;
  background-image: url("../img/icon-youtube.svg");
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 129px;
  margin: 0 auto;
  padding-bottom: 35px;
}
.copyright__text {
  color: #000000;
  text-align: left;
}
.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: #81b3d2;
}
.copyright__link:active svg {
  fill: #000000;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .copyright {
    margin: 0;
    padding: 0;
  }
}
.page-main__title {
  margin: 0;
  padding-top: 44px;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}
.page-main__text {
  padding-left: 28px;
  padding-right: 22px;
  padding-bottom: 33px;
}
@media (min-width: 768px) {
  .page-main__title {
    padding-top: 76px;
    font-size: 30px;
    line-height: 0.87;
  }
  .page-main__text {
    padding-left: 0;
    padding-right: 0;
    width: 428px;
    margin: 0 auto;
  }
}
.list-photos {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}
.list-photos__title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: #000000;
}
.list-photos__text {
  margin: 0;
  padding-bottom: 11px;
  text-align: left;
  text-transform: none;
  line-height: 24px;
}
.list-photos__like {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  opacity: 0.3;
  margin-right: 14px;
}
.list-photos__item {
  padding-top: 22px;
  padding-bottom: 23px;
  border-top: 1px solid #e5e5e5;
}
.list-photos__item--bridge {
  border-bottom: 1px solid #e5e5e5;
}
.list-photos__like-wrapper {
  text-align: left;
}
@media (min-width: 768px) {
  .list-photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    color: #000000;
  }
  .list-photos__image {
    width: 324px;
    height: 267px;
  }
  .list-photos__item {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 324px;
    background-color: #f2f2f2;
    border: none;
  }
  .list-photos__item--sunset {
    width: 648px;
  }
  .list-photos__item--forest {
    background-color: #eaeaea;
  }
  .list-photos__image-sunset {
    width: 648px;
    height: 400px;
  }
  .list-photos__wrapper {
    width: 324px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list-photos__wrapper--sunset {
    width: 648px;
  }
  .list-photos__title-wrapper {
    width: 180px;
  }
  .list-photos__like {
    width: 22px;
    height: 20px;
  }
  .list-photos__like-wrapper {
    width: 65px;
  }
  .list-photos__item--sunset .list-photos__like-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80px;
  }
  .list-photos__text {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .list-photos {
    padding: 0;
    color: #ffffff;
  }
  .list-photos__image {
    width: 400px;
    height: 267px;
  }
  .list-photos__item {
    position: relative;
    width: 400px;
  }
  .list-photos__item--sunset {
    width: 1200px;
  }
  .list-photos__image-sunset {
    width: 1200px;
  }
  .list-photos__title {
    color: #ffffff;
  }
  .list-photos__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 400px;
  }
  .list-photos__wrapper--sunset {
    width: 1200px;
  }
  .list-photos__title-wrapper {
    width: 180px;
  }
  .list-photos__like {
    width: 22px;
    height: 20px;
    opacity: 1;
  }
  .list-photos__like-svg {
    opacity: 1;
    fill: #ffffff;
  }
  .list-photos__like-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80px;
  }
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}
@media (max-width: 767px) {
  .site-list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #81b3d2;
    text-align: center;
  }
  .main-nav--closed .site-list {
    display: none;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
  .site-list a {
    display: block;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 18px;
    line-height: 2.22;
    color: #ffffff;
    -webkit-box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
            box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
  }
  .site-list a[href]:hover {
    background-color: #669ec0;
    border-top-color: #669ec0;
  }
  .site-list a[href]:active {
    -webkit-box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
    background-color: #5496bd;
  }
}
@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 768px;
    min-height: 56px;
    padding-left: 49px;
    padding-right: 26px;
    background-color: #ffffff;
  }
  .site-list__item {
    width: 173px;
    font-size: 14px;
    line-height: 1.86;
    color: #000000;
    text-align: left;
  }
  .site-list__item:nth-child(4n-1),
  .site-list__item:nth-child(4n) {
    text-align: right;
  }
  .site-list__item a {
    color: #000000;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 1200px;
  }
  .site-list__item {
    width: 239px;
  }
}
.container {
  width: 320px;
  margin: 0 auto;
}
.container--photo {
  border: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container--photo {
    border: none;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.hotels__title {
  margin: 0;
  padding-bottom: 20px;
  color: #000000;
}
.hotels__text {
  margin: 0 auto;
  width: 261px;
  padding-bottom: 40px;
  line-height: 1.71;
}
.hotels__link {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 49px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #ffffff;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .hotels__title {
    font-size: 30px;
    line-height: 0.87;
    padding-bottom: 50px;
  }
  .hotels__text {
    width: 435px;
    padding-bottom: 47px;
  }
  .hotels__text-new-line {
    display: block;
  }
  .hotels__link {
    width: 458px;
    margin-bottom: 58px;
  }
}
.map__iframe {
  width: 320px;
  border: none;
}
@media (min-width: 768px) {
  .map__iframe {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .map__iframe {
    width: 1200px;
  }
}
.form-section__title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #000000;
}
.form-section__text {
  margin: 0;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .form-section__title {
    font-size: 30px;
    line-height: 0.87;
  }
  .form-section__text {
    width: 439px;
    margin: 0 auto;
    margin-bottom: 60px;
    line-height: 1.71;
  }
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}
.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  width: 280px;
  border: none;
  margin: 0 auto;
}
.form__fieldset::before {
  position: absolute;
  content: "";
  top: 0;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
}
.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__legend {
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
  color: #000000;
}
.form__label {
  width: 280px;
  text-align: left;
  line-height: 1.86;
}
.form__input {
  width: 230px;
  border: none;
}
.form__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000000;
}
.form__input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}
.form__input:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
}
.form__input:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
}
.form__input[placeholder] {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: #000000;
  background-color: #f2f2f2;
  border: solid 4px #f2f2f2;
}
.form__input[placeholder]:hover {
  background-color: #e5e5e5;
  border: solid 4px #e5e5e5;
}
.form__input[placeholder]:active,
.form__input[placeholder]:focus {
  background-color: #ffffff;
  border: solid 4px #e5e5e5;
}
.form__input--short {
  width: 192px;
}
.form__input--phone,
.form__input--email {
  position: relative;
  width: 280px;
}
.form__input--phone[placeholder],
.form__input--email[placeholder] {
  padding-right: 58px;
}
.form__input-wrapper {
  position: relative;
}
.form__input-wrapper::before {
  position: absolute;
  content: "";
  z-index: 2;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background: url(../img/icon-phone.svg) no-repeat center center;
  background-size: 18px 18px;
  background-color: #e6e6e6;
}
.form__input-wrapper--email::before {
  background: url(../img/icon-mail.svg) no-repeat center center;
  background-size: 16px 12px;
  background-color: #e6e6e6;
}
.form__fieldset--contacts .form__label {
  display: block;
  padding: 10px;
  padding-left: 20px;
}
.form__label--user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.form__label {
  position: relative;
}
.form__fieldset--impression .form__label,
.form__fieldset--landmark .form__label {
  display: inline-block;
  padding-left: 78px;
  padding-bottom: 52px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  text-transform: none;
  color: #000000;
}
.form__fieldset--impression .form__legend,
.form__fieldset--landmark .form__legend {
  padding-bottom: 47px;
}
.form__input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -13px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.form__input[type="radio"]:hover + label::before,
.form__input[type="checkbox"]:hover + label::before {
  background-color: #e5e5e5;
}
.form__input[type="radio"]:active + label::before,
.form__input[type="radio"]:focus + label::before,
.form__input[type="checkbox"]:active + label::before,
.form__input[type="checkbox"]:focus + label::before {
  background-color: #d5d5d5;
}
.form__input[type="radio"]:enabled:checked + label::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 3px;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
}
.form__input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -13px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.form__input[type="checkbox"]:enabled:checked + label::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 6px;
  width: 24px;
  height: 16px;
  background: url(../img/icon-tick.svg) no-repeat center center;
  background-size: 24px 16px;
}
.form__input--textarea {
  width: 280px;
  min-height: 160px;
  resize: none;
}
.form__input--textarea[placeholder] {
  padding-right: 30px;
}
.form__button {
  width: 280px;
  margin-bottom: 47px;
}
.form__small {
  display: none;
}
@media (min-width: 768px) {
  .form {
    width: 648px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  .form__fieldset--impression,
  .form__fieldset--user-name {
    width: 324px;
  }
  .form__fieldset--impression {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .form__fieldset--impression::before {
    top: 26px;
    left: 324px;
    height: 292px;
    width: 1px;
  }
  .form__legend {
    max-width: 282px;
    padding-bottom: 60px;
    font-size: 21px;
    line-height: 1.24;
  }
  .form__legend--user-name {
    padding-bottom: 30px;
  }
  .form__label--user-name {
    margin-left: 44px;
  }
  .form__fieldset--user-name::before {
    height: 0;
  }
  .form__fieldset--contacts,
  .form__fieldset--more-detail {
    width: 648px;
  }
  .form__fieldset--contacts::before,
  .form__fieldset--landmark::before,
  .form__fieldset--more-detail::before {
    left: 0;
    top: 37px;
    width: 125px;
  }
  .form__fieldset--contacts::after,
  .form__fieldset--landmark::after,
  .form__fieldset--more-detail::after {
    position: absolute;
    content: "";
    top: 37px;
    right: 0;
    width: 125px;
    height: 1px;
    background-color: #e5e5e5;
  }
  .form__input--phone,
  .form__input--email {
    width: 648px;
  }
  .form__fieldset--landmark {
    width: 648px;
  }
  .form__list--landmark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 448px;
    margin: 0 auto;
  }
  .form__list--landmark .form__list-item {
    width: 200px;
  }
  .form__input--textarea {
    width: 648px;
    height: 160px;
  }
  .form__button {
    width: 324px;
    margin-top: 37px;
  }
  .form__small {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 165px;
    margin-top: 60px;
    margin-left: auto;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.86;
    text-align: right;
    color: #333333;
  }
}
@media (min-width: 1200px) {
  .form {
    width: 960px;
  }
  .form__fieldset--impression,
  .form__fieldset--user-name {
    width: 480px;
  }
  .form__fieldset--contacts::before,
  .form__fieldset--landmark::before,
  .form__fieldset--more-detail::before {
    width: 280px;
  }
  .form__fieldset--contacts::after,
  .form__fieldset--landmark::after,
  .form__fieldset--more-detail::after {
    width: 280px;
  }
  .form__fieldset--impression::before {
    left: 480px;
  }
  .form__label--user-name {
    margin-right: 0;
    margin-left: auto;
    width: 400px;
  }
  .form__list-item {
    text-align: left;
  }
  .form__input {
    width: 350px;
  }
  .form__input--short {
    width: 312px;
  }
  .form__input--phone,
  .form__input--email {
    width: 318px;
  }
  .form__fieldset--contacts,
  .form__fieldset--landmark,
  .form__fieldset--more-detail {
    width: 960px;
  }
  .form__list--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__list-item--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 480px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .form__list-item--phone {
    width: 400px;
  }
  .form__fieldset--contacts .form__label {
    padding: 0;
  }
  .form__label-none {
    display: none;
  }
  .form__list--landmark {
    width: 960px;
  }
  .form__input--textarea {
    width: 960px;
  }
  .form__button {
    width: 480px;
  }
}
.button {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #81b3d2;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
.modal {
  display: none;
  width: 320px;
  min-height: 280px;
  padding-right: 57px;
  padding-bottom: 35px;
  padding-left: 57px;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.modal--success {
  padding: 0;
}
.modal__title {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 1.44;
}
.modal__text {
  margin: 0;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #333333;
}
.modal__text--success {
  padding-left: 53px;
  padding-right: 53px;
  padding-bottom: 40px;
}
.modal__button-wrapper {
  width: auto;
  min-height: 98px;
  padding: 20px;
  background-color: #f2f2f2;
}
.modal__button {
  width: 180px;
  font-size: 18px;
  line-height: 1.44;
}
.modal__button--success {
  width: 280px;
}
@media (min-width: 768px) {
  .modal {
    margin: 0 auto;
  }
  .modal--success {
    width: 640px;
  }
  .modal--error {
    width: 400px;
    padding-top: 24px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 49px;
  }
  .modal__title {
    font-size: 30px;
    line-height: 0.87;
    color: #000000;
  }
  .modal__title--error {
    width: 226px;
    margin: 0 auto;
    line-height: 1.33;
  }
  .modal__text--success {
    padding-left: 112px;
    padding-right: 112px;
  }
  .modal__button {
    width: 100%;
  }
  .modal__button-wrapper {
    padding: 44px;
    padding-left: 91px;
    padding-right: 91px;
  }
}
.video__clip {
  width: 320px;
  height: 200px;
}
.video {
  width: 320px;
  height: 200px;
  position: relative;
}
.video__image {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 320px;
  height: 200px;
}
.video__controls {
  position: absolute;
  z-index: 3;
  bottom: -66px;
  left: 20px;
}
.video__scale {
  padding-top: 21px;
  padding-left: 22px;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}
.video__bar {
  width: 236px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.2;
}
.video__toggle {
  position: absolute;
  top: 18px;
  left: 35px;
  width: 9px;
  height: 9px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.video__operations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 66px;
  padding-top: 22px;
  padding-right: 23px;
  padding-bottom: 23px;
  padding-left: 25px;
  background-color: #f2f2f2;
}
.video__button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.video__button--subtitles {
  margin-left: 133px;
}
.video__button-svg {
  fill: #5c6870;
}
.video__button:hover .video__button-svg,
.video__button:focus .video__button-svg {
  fill: #333333;
}
.video__button:active .video__button-svg {
  fill: rgba(51, 51, 51, 0.3);
}
@media (min-width: 768px) {
  .video__clip {
    width: 648px;
    height: 500px;
  }
  .video {
    width: 648px;
    height: 500px;
    margin: 0 auto;
  }
  .video__image {
    width: 648px;
    height: 500px;
  }
  .video__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    left: 0;
    bottom: 0;
    width: 648px;
    height: 93px;
  }
  .video__scale {
    height: 93px;
    padding-top: 45px;
    padding-left: 93px;
  }
  .video__bar {
    width: 389px;
  }
  .video__toggle {
    top: 42px;
    left: 206px;
  }
  .video__operations {
    width: 368px;
    height: 93px;
    padding-right: 41px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .video__button .video__button-svg {
    fill: #ffffff;
  }
  .video__button:hover .video__button-svg,
  .video__button:focus .video__button-svg {
    fill: rgba(255, 255, 255, 0.6);
  }
  .video__button:active .video__button-svg {
    fill: rgba(255, 255, 255, 0.3);
  }
  .video__button--replay {
    position: absolute;
    top: 35px;
    left: 35px;
  }
  .video__button--subtitles {
    margin-left: 218px;
  }
}
@media (min-width: 1200px) {
  .video__clip {
    width: 800px;
  }
  .video {
    width: 800px;
    margin: 0 auto;
  }
  .video__image {
    width: 800px;
  }
  .video__controls {
    width: 800px;
  }
  .video__bar {
    width: 540px;
  }
  .video__operations {
    width: 520px;
  }
  .video__button--subtitles {
    margin-left: 369px;
  }
}

/*# sourceMappingURL=style.css.map */
